.row
  .columns.small-10.small-centered.large-7.large-centered
    %h2
      About «A Logwork Orange»

    Demo app for users to keep track of their work, or admins to keep track of all registered users.
    %hr/

    = link_to 'Source Code', 'https://github.com/ozkc/a-logwork-orange'
