.row
  .columns.small-7.small-centered
    .text-center
      %h1 A LOGWORK ORANGE
      %h4 log your work, with a style
      %hr/
      %img{:alt => "slide image", :src => "https://resizing.flixster.com/wTjtLP_88oZ0Q-0laX7mXNc9JUY=/740x380/v1.bjs1ODYyNTE7ajsxODYzNjsxMjAwOzE5MjA7MTA4MA"}/
      %hr/

      = link_to 'admin login', new_admin_user_session_path
